MONGODB_URI=mongodb+srv://ayush25:ayush25@cluster0.folhrkv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DATABASE=content_review
CSV_BATCH_SIZE=5000
MAX_UPLOAD_BYTES=1073741824
TEMP_UPLOAD_DIR=./tmp_uploads
